@font-face {
  font-family: 'Dancing Script', cursive;
  src: url("DancingScript-Bold.ttf") format('ttf'),
  url("DancingScript-Regular.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Dancing Script', cursive;
  background: url("cat.jpg");
}